---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "../../components/Contact-form.astro";
import fetchData from "../../api";
import Image from "../../components/Image.astro";

const apiUrl = import.meta.env.PORTRAIT_PHOTOS_API_URL;

const { imageInfoArray } = await fetchData(apiUrl, 0);
---

<Layout title="Portreti | Foto studio Zenit" description="Istražite našu galeriju portreta gde umetnost susreće stvarnost. Svaki portret nije samo slika, već priča koja oživljava dušu. Foto studio Zenit beleži raznolikost lica, izraza i karaktera kroz umetnički čin koji hvata suštinu ličnosti. Otkrijte jedinstvene priče iza svakog pojedinca." 
keywords="Portreti,Foto studio Zenit,Portretna fotografija,Umetnički portreti,Karakterni portreti,Lice i izraz,Galerija portreta,Fotografska umetnost,Ličnost na fotografiji,Umetnost portreta">
	
	<div class="wrapper">
		
		<div class="heading-wrapper">
			<h1>PORTRETI</h1>			
			<p>Ovde se susreću umetnost i stvarnost, gde svaki portret nije samo slika, već priča koja oživljava dušu.Naša galerija portreta je odraz raznolikosti lica, izraza i karaktera. Svaki portret predstavlja umetnički čin koji ne samo da beleži fizičku pojavu, već i hvata suštinu ličnosti. Svaka slika govori bez reči, otkrivajući jedinstvenu priču iza svakog pojedinca.</p>
		</div>

		<div class="content-wrapper" id="photoGrid">
			{
				imageInfoArray.map((img: any) => (
					<div class="photo" style={`grid-row: ${img.aspectRatio === 'portrait' ? 'span 2' : 'span 1'}`}>
						<Image imgUrl={img.imageUrl} imgAlt={img.imageAlt} width="100%" height="auto" />
					</div>
				))
			}
		</div>
	</div>
	
	
</Layout>
<style>
	.heading-wrapper{
		text-align: center;
		background-image: url('/main-galery-section/portraits-bg.png');
		background-repeat: no-repeat;
		background-size: cover;		
		background-position:center;
		background-attachment: fixed;
		position: relative;
		width: 100%;
		padding:100px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: calc(100vh - 100px);

	}
	
	.heading-wrapper::before{
		position: absolute;
		content: '';
		top: -1px;
		right: 0;
		bottom: -1px;
		left: 0;
		background:  #000000d5;

	}
	.heading-wrapper h1,.heading-wrapper p{
		position: relative;
	}

	.heading-wrapper p{
		max-width: 1280px;
		text-align: center;
		color: rgb(255 255 255 /80%);

	}
	h2 {
		color: #d9ad5e;
	}
	.active {
		color: #d9ad5e;
	}
	.nav {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		place-items: baseline;
		text-align: center;
	}
	@media screen and (max-width: 1280px) {
		.nav {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.nav div {
		padding: 20px;
		text-transform: uppercase;
	}
	.wrapper {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.content-wrapper {
		width: 100%;
		max-width: 1280px;
		display: grid;
		grid-template-columns: repeat(4, minmax(20%, 1fr));
		margin: 40px 0;
		column-gap: 5px;
		row-gap: 5px;
		padding: 20px;
	}
	@media screen and (max-width: 1280px) {
		.content-wrapper {
			grid-template-columns: repeat(3, minmax(30%, 1fr));
		}
	}
</style>
