---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import ContactForm from "../components/Contact-form.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Kontakt | Foto studio Zenit" description="Studio Zenit kontakt - Kontaktirajte Foto studio Zenit kako biste isplanirali vašu sledeću fotografiju ili događaj. Naš tim je ovde da ispuni vaše želje i stvori trajne uspomene. Vaša slika vredi hiljadu reči - dopustite nam da je ovekovečimo." 
keywords="Foto studio Zenit,Kontakt,Fotografija,Dogovor,Usluge fotografisanja,Planiranje događaja,Profesionalno fotografisanje,Fotografisanje događaja,Kreiranje uspomena,Fotografija po meri">
	<div class="title-wrap">
		<h1>KONTAKT</h1>
		<p>
			Zainteresovani za naše usluge? Kontaktirajte nas kako bismo razgovarali o vašim potrebama i prilagodili ponudu vašim željama. Vaša
			slika vredi hiljadu reči, a mi smo tu da je ovekovečimo.
		</p>
	</div>

</Layout>
<style>
	.title-wrap {
		padding: 5px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	h1 {
		margin: 100px 0 0 0;
		text-align: center;
		color: #d9ad5e;
		text-transform: uppercase;
	}
	p {
		color: rgb(255 255 255 / 58%);
		border-top: 1px solid #d9ad5e;
		border-bottom: 1px solid #d9ad5e;
		padding: 5px 0;
		max-width: 1280px;
	}
</style>
