---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Kontakt | Foto studio Zenit" description="Astro descriptio" keywords="Astro keywords">
	<Navigation />
	<section class="content-wrapper"></section>
</Layout>
<style>
	.content-wrapper {
		height: 100vh;
		width: 100%;
	}
</style>
