---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Početna | Foto studio Zenit" description="Astro descriptio" keywords="Astro keywords">
	<header>
		<Navigation />
		<div class="content-wrapper">
			<div class="img-wrapper">
				<img src="/Logos/zlatan-bez-slova.png" alt="" />
				<div class="intro-text">
					<h1>FOTO<br />STUDIO<br /> ZENIT</h1>
				</div>
			</div>
			<h2>~ Za vaše dragocene trenutke ~</h2>
		</div>
	</header>
	<main></main>
</Layout>

<style>
	.content-wrapper {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.img-wrapper {
		width: fit-content;
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
	}
	.img-wrapper img {
		position: relative;
		z-index: 10;
		top: 10px;
	}
	.intro-text {
		position: absolute;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 40px;
		filter: drop-shadow(1px 0px 5px #727271b7);
		color: #242424;
	}
	h2 {
		position: absolute;
		bottom: 20px;
		border-top: 1px solid #c9b758;
		border-bottom: 1px solid #c9b758;
		padding: 5px;
		color: rgb(255 255 255 / 58%);
	}
</style>
