---
import Layout from "../layouts/Layout.astro";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/Contact-form.astro";
---

<Layout title="Usluge | Foto studio Zenit" description="Astro descriptio" keywords="Astro keywords">
	<Navigation />
	<div class="content-wrapper">
		<h1>U PONUDI IMAMO</h1>
		<div class="informations">
			<div class="infos">
				<h2>Fotografisanje i snimanje <br />različitih vrsta svečanosti</h2>
				<p>
					Nudimo vrhunsku uslugu fotografisanja i snimanja za razne svečane prilike. Bez obzira da li je u pitanju venčanje, rođendan ili druga svečanost, naš tim stručnih fotografa je tu da zabeleži svaki dragoceni trenutak s ljubavlju i pažnjom.
				</p>
				<ul>
					<li>Fotografisanje i snimanje celokupnog događaja od strane naših iskusnih fotografa i videografa.</li>
					<li>Snimanje dronom.</li>
					<li>2-4h montiranog video materijala i spot.</li>
					<li>Fotografije prilagodjenih za društvene mreže.</li>
					<li>Fotografije u punoj rezoluciji.</li>
					<li>Izradjene fotografije 13x18 i uramljene 20x30 .</li>
					<li>Luksuzni kožni foto albumi sa 16 spredova, sa ili bez kutije.</li>
					<li>Prezentacija sa projektorom.</li>
					<li>USB fleš sa materijalom i obična ili presonalizovana kutijica za isti.</li>
					<li>Ostalo:<ul>
						<li>
							Nudimo dodatne usluge poput snimanja događaja, korišćenja drona i drugog dana photosessiona, kao i mogućnost dodatnih fotografija, uramljivanja i drugih personalizovanih opcija.
							Za više informacija kontaktirajte <span style="color:#d9ad5e">FOTO STUDIO ZENIT</span>	
						</li></ul></li>
				</ul>
			</div>
			<div class="infos">
				<h2>Izrada photobook-ova, klasičnih albuma <br />i fotografija na platnu</h2>
				<p>
					Dajemo vašim najdražim trenucima novu dimenziju. Naša izrada photobook-ova, klasičnih albuma i fotografija na platnu transformiše obične slike u dragocene priče koje će se ponosno prikazivati generacijama.
				</p>
				<ul>
					<li>Photobook 30x22, kozni, 16 spredova.</li>
					<li>Photobook 30x40, kozni, 16 spredova.</li>
					<li>Fotografije na platnu veličine 60x90, 80x120 i 100x100.</li>
					<li>Albumi do 50 fotografija 13x18.</li>
				</ul>
				<p>Za više informacija kontaktirajte <span style="color:#d9ad5e">FOTO STUDIO ZENIT</span></p>
			</div>
			<div class="infos">
				<h2>Iznajmljivalje efekata za proslave</h2>
				<p>
					Upotpunite vašu proslavu sa našim spektakularnim efektima.
				</p>
				<ul>
					<li>Suvi led.</li>
					<li>Vatromet.</li>
					<li>Balončići.</li>
				</ul>
			</div>
			<div class="infos">
				<h2>Izrada reklamnog materijala</h2>
				<p>
					Naša usluga izrade reklamnog materijala donosi vašim idejama vizuelni život. Kreativni tim stručnjaka posvećen je stvaranju atraktivnog i efikasnog materijala koji će privući pažnju i angažovati vašu ciljnu publiku. Oživite svoje brendove i promovišite svoje proizvode sa profesionalno dizajniranim reklamnim materijalom koji se ističe.
				</p>
				<ul>
					<li>Kancelarijski materijal.</li>
					<li>Posteri.</li>
					<li>Kese.</li>
					<li>Majice.</li>
					
				</ul>
			</div>
		</div>
	</div>
	<ContactForm />
	<Footer />
</Layout>
<style>
	.content-wrapper {
		margin-top: 100px;
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.informations {
		max-width: 1280px;
		width: 100%;
		padding: 20px;
	}
	.infos h2 {
		width: 100%;
		text-align: center;
		color: #d9ad5e;
	}
	.infos p {
		text-align: center;
	}
	.infos {
		display: flex;
		justify-content: center;
		flex-direction: column;
		border-top: 1px solid #d9ad5e;
		border-bottom: 1px solid #d9ad5e;
	}
	.mini-heading{
		color: #d9ad5e;
		text-align: start !important;
		width: 100%;
	}
</style>
