---
interface Props {
	title: string;
	body: string;
	imgUrl: string;
	imgAlt: string;
}

const { imgUrl, title, body, imgAlt } = Astro.props;
---

<div class="link-card">
	<div class="title-wrapp">
		<img src={imgUrl} alt={imgAlt} />

		<h4>
			{title}
		</h4>
	</div>

	<p>
		{body}
	</p>
</div>
<style>
	.link-card {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.title-wrapp {
		display: flex;
		align-items: center;
		gap: 5px;
		color: rgb(255 255 255 /58%);
	}
	.title-wrapp img {
		width: 50px;
		height: 50px;
		border-radius: 100%;
	}
	p {
		color: rgb(255 255 255 /58%);
	}
</style>
