<footer class="content-wrapper">
	<div class="links">
		<ul>
			<li><h4>Ponuda</h4></li>
			<li>Fotografisanje i snimanje različitih vrsta svečanosti</li>
			<li>Izrada photobook-ova, klasičnih albuma i fotografija na platnu</li>
			<li>Iznajmljivalje efekata za proslave: suvi led, vatromet, balončići</li>
			<li>Izrada reklamnog materijala</li>
		</ul>
		<ul>
			<li><h4>Radno vreme i kontakt</h4></li>
			<li>Ponedeljak-Petak: 10-18h</li>
			<li>Email: fotostudiozenit@gmail.com</li>
			<li>Instagram: @fotostudiozenit</li>
			<li>Telefon: +381654026000</li>
			<li>Adresa: Ive Andrića 1a, Bajina Bašta</li>
		</ul>
		<ul>
			<li><h4>Meni</h4></li>
			<li><a href="/">Početna</a></li>
			<li><a href="/about">O nama</a></li>
			<li><a href="/services">Usluge</a></li>
			<li><a href="/gallery/weddings">Galerija</a></li>
			<li><a href="/albums/weddings">Albumi</a></li>
			<li><a href="/contacts">Kontakt</a></li>
		</ul>
	</div>

	<div class="footer-text">
		<p>
			© 2024 <span>FOTO STUDIO ZENIT</span>. Sva prava zadržana. Zabranjena upotreba i kopiranje sadržaja bez pisane dozvole.<br
			/>fotostudiozenit@gmail.com
		</p>
	</div>
</footer>
<style>
	.links {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		width: 100%;
		max-width: 1280px;
	}
	@media screen and (max-width: 900px) {
		.links {
			flex-direction: column;
			align-items: center;
		}
		ul {
			width: 100% !important;
		}
	}
	h4 {
		color: #d9ad5e;
		padding-bottom: 10px;
		border-bottom: 1px solid #d9ad5e;
		text-align: start;
		width: 100%;
		text-transform: uppercase;
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: start;
		padding: 20px;
		width: 270px;
	}
	li {
		color: rgb(255 255 255 /80%);
		padding: 5px;
		width: 100%;
	}
	li a {
		color: rgb(255 255 255 /80%);
	}
	.content-wrapper {
		width: 100%;
		background-color: #242424;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px;
		margin-top: 40px;
		height: ;
	}
	@media screen and (max-width: 1280px) {
		.content-wrapper {
			margin-top: 0;
		}
	}
	.footer-text {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p {
		color: rgb(255 255 255 /58%);
		padding: 20px 20px;
		text-align: center;
	}
	p span {
		color: #d9ad5e;
	}
</style>
