<section class="content-wrapper">
  <div class="about-wrapper">
    <p>
      Dobrodošli u <span class="gold-text">Foto Studio Zenit</span>, vaša
      destinacija gde umetnost susreće fotografiju. Posvećeni smo zabeležavanju
      trenutaka i pretvaranju vaših priča u vizuelne poeme. Pregledajte naš
      portfolio kako biste doživeli spoj kreativnosti i profesionalizma koji
      pružamo svakom snimku. Naš cilj je pružiti jedinstven prikaz vaših
      jedinstvenih priča, pretvarajući ih u nezaboravne slike. Otkrijte kako
      kombinujemo strast prema fotografiji s vrhunskim kvalitetom, stvarajući
      izvanredna vizuelna iskustva.
    </p>
  </div>
</section>
<style>
  .content-wrapper {
    color: rgb(255 255 255 / 58%);
    padding: 40px;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 1280px) {
    .content-wrapper {
      padding: 20px;
    }
  }
  .about-wrapper {
    width: 100%;
    border-top: 1px solid #d9ad5e;
    border-bottom: 1px solid #d9ad5e;
    max-width: 1280px;
  }

  .gold-text {
    color: #d9ad5e;
  }
</style>
