---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "../../components/Contact-form.astro";
import Image from "../../components/Image.astro";
import fetchAlbums from "../../api-albums";

const apiUrl = import.meta.env.BIRTHDAY_ALBUM_API_URL;

const { albums } = await fetchAlbums(apiUrl);
---

<Layout title="Albumi 18.rođendani | Foto studio Zenit" description="Istražite naše prelepe albume osamnaestih rođendana, gde svaka slika nosi sa sobom priču o radosti, slobodi i prekretnici u životu. Naši albumi osamnaestih rođendana pružaju intiman pogled na poseban dan, sa svakim trenutkom zabeleženim sa pažnjom i ljubavlju. Foto studio Zenit je tu da vaše osamnaeste rođendane pretvori u nezaboravno iskustvo." 
keywords="Albumi 18. rođendaniOsamnaesti rođendani albumi,Albumi punoletstva,Foto albumi osamnaestih rođendana,Fotografije 18. rođendana,Specijalni albumi za punoletstvo,Osamnaesti rođendan galerija,Foto sesije za punoletstvo,Rođendanski albumi sa 18 godina,Rodjendanski albumi,Albumi rodjendana">
	
	<div class="wrapper">
		<h1>ALBUMI OSAMNAESTIH ROĐENDANA</h1>
		{
			albums.map((album: any) => (
				<>
					<h2>{album.headingText}</h2>
					<div class="content-wrapper" id="photoGrid">
						{album.images.map((img: any) => (
							<div class="photo" style={`grid-row: ${img.aspectRatio === 'portrait' ? 'span 2' : 'span 1'}`}>
								<Image imgUrl={img.imageUrl} imgAlt={img.imageAlt} width="100%" height="auto" />
							</div>
						))}
					</div>
				</>
			))
		}
	</div>
	
	
</Layout>
<style>
	h2 {
		color: #d9ad5e;
		width: 100%;
		max-width: 1280px;
		border-bottom: 1px solid #d9ad5e;
		padding: 10px 20px;
	}

	.active {
		color: #d9ad5e;
	}
	.nav {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		place-items: baseline;
		text-align: center;
	}
	@media screen and (max-width: 1280px) {
		.nav {
			grid-template-columns: repeat(2, 1fr);
		}
		h2 {
			text-align: center;
		}
	}

	.nav div {
		padding: 20px;
		text-transform: uppercase;
	}
	.wrapper {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.content-wrapper {
		width: 100%;
		max-width: 1280px;
		display: grid;
		grid-template-columns: repeat(5, minmax(15%, 1fr));
		margin: 10px 0;
		column-gap: 5px;
		row-gap: 5px;
		padding: 0 20px;
	}
	@media screen and (max-width: 1280px) {
		.content-wrapper {
			grid-template-columns: repeat(3, minmax(30%, 1fr));
		}
	}
</style>
